.Fondo {
  height: 100vh;
  background-image: url("../../images/fondo.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -2;

  @media (max-width: 800px) {
    background: transparent;
  }
}
