.header {
  @media (max-width: 800px) {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0.4853291658460259) 50%,
      rgba(0, 0, 0, 0.9251050762101716) 95%
    );

    color: white;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    display: block;
    flex-direction: column;

    align-items: center;
    z-index: 1;

    margin: 0;

    width: 100%;
    height: 4em;

    position: fixed;
    top: 5.5em;

    h1 {
      display: block;

      position: absolute;
      top: -2.1em;
      right: 4em;

      white-space: nowrap;
    }

    .LogoMarcaTexto {
      font-size: 3.5em;
      color: rgb(255, 255, 255);
      position: absolute;
      top: -1.2em;
      right: 0.5em;
    }

    ul {
      display: flex;
      justify-content: space-around;

      list-style-type: none;
      width: 100%;

      align-items: center;
      padding: 0;
      margin-top: -0.3em;

      li {
        color: white;
        transition: transform 1s;
        font-size: 2.5em;

        &:hover {
          transform: scale(3);
          color: white;
        }

        a {
          color: rgb(160, 160, 160);
          text-decoration: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0.4853291658460259) 50%,
      rgba(0, 0, 0, 0.9251050762101716) 95%
    );

    color: white;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    z-index: 1;

    margin: -5em auto;

    width: 40vh;
    height: 4em;

    position: relative;
    top: -35em;

    h1 {
      display: block;
      font-size: 3em;

      position: absolute;
      left: -11em;

      white-space: nowrap;
    }

    .LogoMarcaTexto {
      font-size: 8em;
      color: rgb(255, 255, 255);
      position: absolute;
      top: -0.2em;
      right: -2.5em;
    }

    ul {
      display: flex;
      justify-content: space-around;

      list-style-type: none;
      width: 100%;

      align-items: center;
      padding: 0;
      margin-top: -0.3em;

      li {
        color: white;
        transition: transform 1s;
        font-size: 2.5em;

        &:hover {
          transform: scale(3);
          color: white;
        }

        a {
          color: rgb(160, 160, 160);
          text-decoration: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
