.header {
  @media (max-width: 800px) {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 54%,
      rgba(60, 4, 124, 0.630987429151348) 79%,
      rgba(83, 0, 179, 1) 100%
    );

    color: white;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    display: flex;

    align-items: center;
    z-index: 1;

    margin: auto;

    width: 100%;
    height: 4em;

    position: fixed;
    top: 3em;

    h1 {
      display: block;
      margin-left: 1em;
      white-space: nowrap;
    }

    .LogoMarcaTexto {
      font-size: 3em;
      margin-left: 0.5em;
    }

    .topLogo {
      width: auto;
      height: 4em;
      padding: 0.5em 0 0.5em 0;
      position: absolute;
      left: 2.5em;
    }

    ul {
      display: none;

      list-style-type: none;
      width: 100%;

      align-items: center;
      padding: 0;
      margin: 0;

      li {
        padding: 0 2em 0 2em;
        color: white;
        transition: transform 1s;
        font-size: 1em;
        display: flex;

        &:hover {
          transform: scale(2);
          color: white;
        }

        a {
          color: rgb(160, 160, 160);
          text-decoration: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 21%,
      rgba(83, 0, 179, 0.5189426112241772) 73%,
      rgba(0, 0, 0, 1) 96%
    );

    color: white;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    z-index: 1;

    margin: auto;
    padding: 0.8em 0 1em 2em;

    width: 100%;
    height: 5em;

    position: fixed;
    top: 3em;

    h1 {
      display: block;
    }
    .LogoMarcaTexto {
      font-size: 3em;
      margin: 0.1em 0 0 0.5em;
    }

    .topLogo {
      padding-top: 0.4em;
      padding-left: 2em;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin-left: 3em;

      justify-content: space-between;

      position: absolute;
      right: 10em;

      align-items: center;

      li {
        margin: 1em 0 0 4em;
        color: white;
        transition: transform 1s;
        font-size: 1em;
        &:hover {
          transform: scale(2);
          color: white;
        }

        a {
          color: rgb(160, 160, 160);
          text-decoration: none;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
